/* .........google font......  */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body{  
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    padding: 0;
    max-width: 5000px;
    background-color: #eeeeee;

}

h1,h2,h3,ul,li{
    margin: 0;
}

.flex{
    display: flex;
    
}
.flex-col{
    width: 100%;
}

.container{
    padding: 0 5%;
}

hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgb(112, 110, 110),rgba(0,0,0,0));
}



/* header section  */

#header{
    margin: 50px 0;
}

#header h2{
    width: 40%;
    align-items: center;
}
.navbar{
    justify-content: flex-end;
    width: 60%;
    
}



/* journey section  */

.journey{
    margin: 100px 0 50px 0;
}
.journey-left h1{
    font-size: 50px;
}
.journey-left p{
    font-size: 18px;
    width: 70%;
}

.journey-left p a{
    text-decoration: none;
    color: #f368e0;
}

.journey-left>a{
    text-decoration: none;
    color: mintcream;
    background-color: #f368e0;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
    transition: all 0.3s ease;


    
}

.journey-left>a:hover{
    padding: 10px 40px;

    
}

.journey-left>a>.fas{
    margin-left: 10px;
    font-size: 20px;
}

.journey-right{
    position: relative;
    animation-name: movingCamera;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes movingCamera {
    0%   {left:0%;}

    100% { left:5%; }
  }
  .journey-right img{
      width: 80%;
      background-image: url(../images/Circle\ design.svg);
      background-repeat: no-repeat;
  }



  /* logo section  */

.logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo img{
    margin: 30px 0;
    width: 100px;
    padding:  0 10px;
}


/* popular collection  */

.popular{
    margin: 80px 0 80px 0;
}
.popular>h2{
    text-align: center;
}

.collection{
    margin: 40px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.collection img{
    width: 100%;
}

.collection .product-list{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.collection .product-list h2{
    font-size: 35px;
    margin-top: 10px;
}
.collection .product-list p{
    margin: 10px 0;
}

.collection .product-list .price{
    font-size: 25px;
    margin: 10px 0;
}
.stars i{
    color:goldenrod;
}

.stars span{
    margin-left: 30px;
    font-weight: bold;
}

.seemore{
    text-align: right;
}

.seemore a{
    display: inline-block;
    text-decoration: none;
    color: #f368e0;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 40px;
    margin-right: 15px;
    border-radius: 40px;
    
    
}

.seemore a:hover{
    color: white;
    background-color:#f368e0;
    transition: 0.4s;
}
.seemore>a>i{
    margin: 10px;
}


/* Contact  */

.contact{
    margin-bottom: 40px;
}

.contact h2{
    text-align: center;
}
input[type=text],input[type=email],input[type=password],fieldset, select,textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #f368e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ee51d9;
  }

  #country{
      margin-bottom: 10px;
  }

 .terms{
      text-decoration: none;
      color: #ee51d9;
  }

  textarea{
      display: block;
      width: 100%;
  }
  



/* footer  */



footer{
    background-color: rgb(31, 31, 39);
    color: white;
    text-align: center;
    padding: 40px 0;
}

footer i{
    font-size: 25px;
    margin: 0 10px;
    color: white;
}

.fa-instagram:hover, .fa-dribbble:hover {
    color: rgb(160, 20, 67)
}

.fa-twitter:hover{
    color:rgb(38, 179, 235)
}

.fa-youtube:hover{
    color: rgb(180, 34, 34);
}





